body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
}

.logo {
    height: 30%;
    width: 30%;
}

h1 {
    color: #188f9a;
    text-align: center;
    font-size: 140%;
}

h2 {
    color: #004f80;
    font-size: 120%;
    text-align: center;
    font-weight: normal;
    font-family: 'Playfair', serif;
}

.top-nav {
    background-color: #761a50;
    padding: 2%;
}

.top-nav nav {
    text-align: center;
}

.top-nav li {
    padding: 2%;
    font-size: 130%;
}

.top-nav ul {
    background-color: #188f9a;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 16px;
    text-align: center;
}

.top-nav a {
    color: white;
    font-size: 80%;
    text-decoration: none;
}

main {
    background-color: #fff;
    margin: auto;
}

.main-image {
    width: 100%;
    padding-top: 5%;
    margin: 0%;
}

.grid-item-text {
    margin-left: 5%;
    margin-right: 5%;
}

.grid-item-text li {
    font-size: 90%;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 0;

}

* {
    box-sizing: border-box;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #761a50;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: rgb(139, 0, 144);
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #651443;
    padding: 2%;
    text-align: left;
    height: min-content;
}

footer p {
    color: white;
    font-size: 80%;
}

footer a {
    color: #f1e9d6;
    font-size: inherit;
    text-decoration: none;
}

@media screen and (min-width: 900px) {

    .logo {
        height: 10%;
        width: 10%;
    }

    .top-nav nav {
        display: flex;
        justify-self: end;
    }

    .top-nav li {
        display: inline;
        border: none;
        margin: 25px;
    }

    .top-nav ul {
        display: flex;
        align-items: center;
        min-width: 30%;
        min-height: 50px;
        max-width: 80%;
        max-height: 10%;
        margin-left: auto;
    }

    #container-bg {
        display: flex;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #188f9a;
    }

    .form-container {
        width: 50%;
    }

    h1 {
        font-size: 240%;
    }

    h2 {
        font-size: 180%;
    }

    .grid-item-text {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }

    article {
        padding: 20px;
        text-align: center;
    }
}